@use '../variables'

.container
  border-bottom: 1px solid #ccc

  .navbar 
    // display: flex
    // justify-content: space-between
    display: grid
    grid-template-columns: 1fr auto
    margin: auto
    padding: 1rem
    max-width: variables.$site-container-width

    .search-container
      display: flex
      align-items: center

      h1
        margin-right: 2rem

      form
        width: 100%
        margin-right: 2rem

        .search-input
          padding: 0.5rem
          width: 100%
          max-width: 20rem
          border: 1px solid #ccc
          border-radius: 0.5rem
          outline: none
    
    .btn
      padding: 0.8rem 1.6rem
      font-family: inherit
      font-weight: 700
      border: none
      border-radius: 0.5rem
      cursor: pointer

      &.btn-primary
        color: #4358cc
        background: none
        border: 2px solid #4358cc

        &:hover
          text-decoration: underline

      &.btn-secondary
        margin-left: 1rem
        color: #eeeeee
        background: #4358cc
        
        &:hover
          // background: none
          text-decoration: underline
        

