.profile

  .header
    display: flex
    margin-bottom: 1rem

    .profile-image
      object-fit: cover

    .info
      display: flex
      flex-direction: column
      justify-content: space-between
      width: 100%

      .text
        margin-left: 1rem
      