@use '../../variables'
  
.container
  display: flex
  gap: 0.5rem
  padding: 0.6rem
  border-radius: 0.5rem

  .track
    position: relative
    width: 5rem
    height: 5rem
    aspect-ratio: 1/1
    border: 1px solid variables.$light-primary

  .info
    max-width: 8rem

    .heading
      font-size: 0.9rem
      font-weight: 600
      margin-top: 0.2rem
      margin-bottom: 0.4rem
      
    .track-name
      font-size: 0.9rem
      font-weight: 500

