@use '../variables'

.hero
  position: relative
  height: 40rem

  .hero-img
    position: absolute
    margin-top: -6rem
    min-height: 45rem

  .hero-content
    position: relative
    margin: auto
    padding: 1rem
    max-width: variables.$site-container-width

.test
  position: relative
  z-index: 1
  display: flex
  justify-content: center
  gap: 2rem
  margin: -10rem auto 0 auto
  padding: 0 5rem
  height: 25rem
  
  .test2
    margin: 0
    padding: 1rem
    width: 35rem
    height: 100%
    border-radius: 1rem
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15)
    background: rgb(255,146,50)
    background: linear-gradient(90deg, rgba(255,146,50,1) 42%, rgba(255,138,35,1) 94%)

    &:last-child
      background: white

.test3
  margin: 6rem 1rem
  height: 25rem
  background-color: #e9e8e8
  border-radius: 1rem

