// Site wide colors
$primary: #ACB1D6
$secondary: #8d96db
$tertiary: #6c5ce7  
$heading: #1e3799
$dark-primary: #2d3436
$light-primary: #f0f0f0
$light-secondary: #fbfbfb
$light-tertiary: #e4e4e4
$positive-primary: #00b894
$negative-primary: #ff6b6b
$neutral: #0984e3

// Text colors
$primary-text: #2d3436
$secondary-text: #8d8d8d

// Standard widths, heights, margins, etc.
$site-container-width: 1200px
$hero-image-height: 18rem

// Profile navigation menu item width
$profile-nav-item-width: 100px