// Define site colors
// $primary: rgb(31, 32, 35)
// $secondary: rgb(38, 39, 43)
// $tertiary: rgb(48, 49, 54)
// $tint: rgb(31, 30, 40)
// $tint2: rgb(54, 52, 66)
// $tint3: rgb(78, 76, 94)

$primary: #303F9F
$light-primary: #C5CAE9
$secondary: #3F51B5
$accent: #607D8B
$divider: #e4e4e4

$primary-text: #212121
$secondary-text: #8d8d8d

// Define standard widths, heights, margins, etc.
$site-container-width: 1200px


// Profile navigation menu item width
$profile-nav-item-width: 100px