.container

  .connection
    display: flex
    justify-content: space-between
    align-items: center
    gap: 1rem

  .info
    display: flex
    gap: 1rem

    .connection-name
      margin-bottom: 0.3rem
      font-size: 1.1rem

    .connection-text
      font-size: 0.9rem
      font-weight: 300

  button, a
    padding: 0.6rem 0
    width: 8rem
    text-align: center
    font-size: 0.9rem
    font-weight: 600
    border-radius: 1.5rem

  button
    color: #1dd1a1
    border: 1px solid #1dd1a1

    &:hover
      color: #2d3436
      background-color: #ff6b6bb0
      border: 1px solid #ff6b6bb0
      cursor: pointer

  a
    display: block
    text-decoration: none
    border: 1px solid #2d3436

    &:hover
      background-color: #1dd1a1
      border: 1px solid #1dd1a1

  .error
    display: flex

    .filler
      width: 50px

    .message
      margin-left: 1rem
      font-size: 0.9rem
      font-weight: 500
      color: #ff6b6b

@media (max-width: 500px)
  .container
    button, a
      padding: 0.3rem 0.6rem
      width: fit-content
      font-size: 0.8rem
      font-weight: 500