@use '../../variables'

.container
  display: flex
  gap: 2rem

  .image-container
    position: relative
    width: 10rem
    height: 10rem
    border: 2px solid variables.$dark-primary

    &.banner
      width: 20rem
      height: 8rem

    .preview-image
      object-fit: cover

  .upload-container
    display: flex
    flex-direction: column
    gap: 1rem

    .file-input
      display: none

    .instructions
      display: flex
      flex-direction: column
      gap: 0.2rem

      p
        font-size: 0.9rem
        line-height: 1.2rem

      .btn-wrapper
        display: flex
        flex-direction: column
        margin-top: 1rem
        width: 8.5rem

        .btn
          height: 2.4rem
          font-weight: 500
          background-color: variables.$primary
          box-shadow: 0px 0px 3px variables.$primary
          border-radius: 1rem
          cursor: pointer

          &:hover
              opacity: 0.9

          &.input-label
            line-height: 2.4rem
            text-align: center

          &.uploading            
            border: none

      .error-message
        margin-top: 0.5rem
        font-weight: 500
        color: variables.$negative-primary

@media (max-width: 500px)
  .container
    flex-direction: column
    align-items: center

    .upload-container
      .instructions
        align-items: center

