@use '../../variables'

.wrapper
  position: relative
  z-index: 1
  width: 100%
  padding: 0.5rem 0

  &.bg
    position: fixed
    top: 0
    backdrop-filter: blur(8px)
    background-color: rgba(255,255,255,0.4)
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)

.navbar 
  // NOTE: Styling for search bar
  // display: grid
  // grid-template-columns: auto 1fr auto
  // align-items: center
  display: flex
  justify-content: space-between
  max-width: variables.$site-container-width
  margin: auto
  padding: 0 1rem

  .site-heading
    text-decoration: none

  h1
    font-size: 2.5rem
    line-height: 3rem

  .login-options
    display: flex
    align-items: center
  
  .btn
    padding: 0.7rem 1.4rem
    letter-spacing: 0.025rem
    border: none
    border-radius: 1.5rem
    cursor: pointer

    &.btn-primary
      font-weight: 700
      background: none

      &:hover
        text-decoration: underline
        background: variables.$primary

    &.btn-secondary
      margin-left: 0.5rem
      font-weight: 800
      background: none
      border: 2px solid variables.$dark-primary
      
      &:hover
        background: variables.$primary
        border: 2px solid variables.$primary


        

