@use '../../variables'

.wrapper
  position: relative
  z-index: 1
  width: 100%
  padding: 1rem 2rem

  &.bg
    position: fixed
    top: 0
    background-color: #0e2947
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)

.navbar 
  display: grid
  grid-template-columns: auto 1fr auto
  align-items: center
  max-width: variables.$site-container-width
  margin: auto

  .site-heading
    text-decoration: none

  h1
    font-size: 2.5rem
    line-height: 3rem
    color: #ffffff
  
  .btn
    padding: 0.9rem 1.8rem
    color: #ffffff
    font-weight: 800
    letter-spacing: 0.025rem
    border: none
    border-radius: 1.5rem
    cursor: pointer

    &.btn-primary
      background: none

      &:hover
        text-decoration: underline

    &.btn-secondary
      margin-left: 1rem
      background-color: rgba(255, 255, 255, 0.15)
      backdrop-filter: blur(5px)
      
      &:hover
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1)

        

