@use '../../variables'

.container

  .primary-col
    display: grid
    grid-template-columns: 1fr
    grid-gap: 1rem

  .top
    padding: 1rem
    border-radius: 1rem
    height: 20rem
    background-color: #fbfbfb
    box-shadow: 3px 3px 10px #e4e4e4
    
    &.listeners
      min-height: 28rem