@use '../variables'

.nav-background
  height: 4rem
  width: 100%
  margin-bottom: 1rem
  background-color: variables.$heading

.library-header
  margin-bottom: 2rem

  .hero-img
    position: relative
    width: 100%
    height: variables.$hero-image-height
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)

    img
      object-fit: cover

  .header-wrapper
    position: relative
    margin: auto
    max-width: 1000px
    min-height: 140px

    .primary-img
      position: absolute
      top: -60px
      left: 1rem
      border: 3px solid black
      background-color: variables.$light-primary

    .header-info
      margin-left: 250px
      padding: 1rem

      .title
        margin-bottom: 0.8rem

        h1
          display: inline

          &.artist-name
            font-size: 1.3rem
            font-weight: 600
            margin-left: 0.8rem

          a
            text-decoration: none

      .data
        margin-bottom: 0.8rem
        width: fit-content

        h2
          display: inline
          font-size: 0.9rem
          font-weight: 500

        span
          margin: 0 0.5rem   

      .tag
        padding: 0.5rem 1rem
        width: fit-content
        color: white
        font-size: 0.9rem
        letter-spacing: 0.05rem
        border-radius: 0.4rem
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2)
        cursor: pointer

        &.artist
          background-color: variables.$tertiary

        &.album
          background-color: variables.$neutral

        &.track
          background-color: variables.$positive-primary

.library-wrapper
  margin: auto
  padding: 1rem
  max-width: variables.$site-container-width

@media (max-width: 800px)
  .library-header
    margin-bottom: 0

    .hero-img
      height: 14rem

    .header-wrapper
      display: flex
      flex-direction: column
      align-items: center
      
      .primary-img
        top: -120px
        left: 0
        right: 0
        margin: auto

      .header-info
        display: flex
        flex-direction: column
        align-items: center
        margin-top: 110px
        margin-left: 0

        .title
          margin-bottom: 0.4rem

          h1
            display: block
            margin-bottom: 0.5rem
            font-size: 1.5rem
            text-align: center

            &.artist-name
              font-size: 1.2rem
