@use '../variables'

.profile-header
  margin-top: 4rem 
  background-color: #23272a
  border-bottom: 1px solid #d5d5d5

  .header-img
    position: relative
    height: 12rem

  img
    display: block
    object-fit: cover

  .profile-info
    display: flex
    max-width: variables.$site-container-width
    margin: auto
    padding: 1rem

    .avatar-img
      border-radius: 50%

    .user
      display: flex
      justify-content: space-between
      align-items: center
      width: 100%
      margin-left: 2rem

      .user-data
        display: flex
        flex-direction: column
        gap: 0.5rem

        h1
          color: #f0f0f0

        p
          font-size: 0.9rem
          color: #d5d5d5

  .nav
    max-width: variables.$site-container-width
    margin: auto
    padding: 0 1rem

.profile-wrapper
  margin: auto
  padding: 1rem
  max-width: variables.$site-container-width
  
.error
  display: grid
  grid-template-columns: 1fr 1fr
  
  .info
    display: flex
    flex-direction: column
    justify-content: center
    padding: 4rem 2rem
    height: fit-content
    background-color: variables.$primary
    border-radius: 0 10rem 10rem 0

    h1
      font-size: 2.5rem
      margin-bottom: 2rem

    p
      margin-bottom: 3rem
      max-width: 20rem
      line-height: 1.5rem

    a
      border: 2px solid variables.$light-primary
      text-decoration: none
      padding: 1rem 2rem
      width: fit-content
      