@use '../variables'

.nav-background
  height: 4rem
  width: 100%
  background-color: variables.$heading

.container
  display: grid
  grid-template-columns: 11rem 3fr
  gap: 3rem
  margin: auto
  margin-top: 1rem
  padding: 0 1rem 1rem 1rem
  max-width: variables.$site-container-width

  .nav
    position: fixed
    width: 11rem

    .heading
      display: flex
      justify-content: space-between

      h1
        font-size: 1.5rem
        font-weight: 600
        letter-spacing: -0.05rem
        margin-bottom: 1.4rem

      .nav-btn
        display: none
    
    .list
      .nav-item
        border-radius: 0.8rem

        &.active
          background-color: variables.$primary

        &:hover
          background-color: variables.$secondary
          cursor: pointer

        a
          display: block
          padding: 0.6rem 1rem
          width: 100%
          font-weight: 600
          text-decoration: none
  
@media (max-width: 800px)
  .container
    grid-template-columns: 1fr
    gap: 0.5rem
    padding: 0
    margin-top: 0

    .nav
      position: relative
      width: 100% 
      background-color: variables.$primary

      .heading
        padding: 1rem 1rem 0 1rem

        h1
          margin-bottom: 0.8rem
          font-size: 1.6rem

        .nav-btn
          display: block
          height: fit-content
          cursor: pointer
          background: none
          border: none
          outline: none            

      .list
        max-height: 0
        overflow: hidden
        transition: max-height 0.3s ease-in

        &.show
          max-height: 160px

        .nav-item
          border-radius: 0

          &.active
            background-color: variables.$secondary

    .settings-wrapper
      padding: 0 1rem 1rem 1rem
